DOCKER_PASSWORD=secret
MIDDLEWARE_EOS_API_ENDPOINT=writer.lacchain:80
MIDDLEWARE_EOS_API_CHAIN_ID=5821525c6588037e2b066b992fcac34909a5b7f1ea8d5a393f6720fca3750d61
MIDDLEWARE_EOS_WRITER_ACCOUNT_NAME=costarica
MIDDLEWARE_EOS_WRITER_PUB_KEY=EOS1234
MIDDLEWARE_EOS_WRITER_PRI_KEY=54321